<div class="component-container" fxLayoutAlign="space-around start">
    <mat-card appearance="outlined">

        <mat-card-header>
            <mat-card-title>{{'aeroporti_add.inserisci_nuovo_aeroporto'|translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
                <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
            </div>
            <div *ngIf="!loading">
                <form [formGroup]="addAeroportoForm"
                      ng-submit="addAeroportoForm.$valid"
                      (ngSubmit)="submitForm()"
                      novalidate
                      fxLayout="row wrap"
                      fxLayoutGap="20px grid">

                      <mat-form-field fxFlex="30">
                        <mat-label>{{'aeroporti_add.nome'|translate}}</mat-label>
                        <input matInput
                               formControlName="nomeInput"
                               autocomplete="off" 
                               type="text"
                               maxlength="50">
                        <mat-error>{{'aeroporti_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="70">
                        <mat-label>{{'aeroporti_add.denominazione'|translate}}</mat-label>
                        <input matInput
                               formControlName="denominazioneInput"
                               autocomplete="off"
                               type="text"
                               maxlength="4000">
                        <mat-error>{{'aeroporti_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="calc(100/6)">
                        <mat-label>{{'aeroporti_add.identificativo'|translate}}</mat-label>
                        <input matInput
                               formControlName="identificativoInput"
                               autocomplete="off" 
                               type="text"
                               minlength="4"
                               maxlength="4"
                               pattern='[A-Z]{2}[0-9]{2}'
                               oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                    </mat-form-field>

                    <mat-form-field fxFlex="calc(100/6)">
                        <mat-label>{{'aeroporti_add.icao'|translate}}</mat-label>
                        <input matInput
                               formControlName="ICAOInput"
                               autocomplete="off" 
                               type="text"
                               maxlength="4"
                               minlength="4"
                               pattern="[A-Z]{4}"
                               oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                    </mat-form-field>

                    <mat-form-field fxFlex="calc(100/6)">
                        <mat-label>{{'aeroporti_add.iata'|translate}}</mat-label>
                        <input matInput
                               formControlName="IATAInput"
                               autocomplete="off" 
                               type="text"
                               minlength="3" 
                               maxlength="3"
                               pattern="[A-Z]{3}"
                               oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                    </mat-form-field>

                    <mat-form-field fxFlex="calc(100/6)">
                        <mat-label>{{'aeroporti_add.qnh'|translate}}</mat-label>
                        <input matInput
                               formControlName="QNHInput"
                               autocomplete="off" 
                               type="number" 
                               step="1"
                               pattern="\d*"
                               min="0"
                               max="15000">
                    </mat-form-field>

                    <mat-form-field fxFlex="calc(100/6)">
                        <mat-label>{{'aeroporti_add.qfu'|translate}}</mat-label>
                        <input matInput
                               formControlName="QFUInput"
                               autocomplete="off" 
                               type="text"
                               pattern="[0-9]{2}/[0-9]{2}"
                               maxlength="5"
                               placeholder="nn/nn">
                    </mat-form-field>

                    <mat-form-field fxFlex="calc(100/6)">
                        <mat-label>{{'aeroporti_add.frequenza_radio'|translate}}</mat-label>
                        <input matInput
                               formControlName="radioInput"
                               autocomplete="off" 
                               type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex="12.5" floatLabel="always">
                        <mat-label>{{'aeroporti_add.latitudine'|translate}}</mat-label>
                        <input matInput
                               formControlName="gradiLatInput"
                               autocomplete="off" 
                               type="number"
                               pattern="[0-9]{1,3}"
                               min="0"
                               max="359"
                               step="1"
                               [placeholder]="'aeroporti_add.gradi'|translate">
                    </mat-form-field>

                    <mat-form-field fxFlex="12.5">
                        <input matInput
                               formControlName="minutiLatInput"
                               autocomplete="off" 
                               type="number"
                               pattern="[0-9]{1,2}"
                               min="0"
                               max="59"
                               step="1"
                               [placeholder]="'aeroporti_add.minuti'|translate">
                    </mat-form-field>

                    <mat-form-field fxFlex="12.5">
                        <input matInput
                               formControlName="secondiLatInput"
                               autocomplete="off" 
                               type="number"
                               pattern="[0-9]{1,2}|[0-9]{1,2}.[0-9]{1,4}"
                               min="0"
                               max="59.9999"
                               [placeholder]="'aeroporti_add.secondi'|translate">
                    </mat-form-field>

                    <mat-form-field fxFlex="12.5">
                        <mat-select formControlName="nordSudSelect">
                            <mat-option value="N">{{'aeroporti_add.nord'|translate}}</mat-option>
                            <mat-option value="S">{{'aeroporti_add.sud'|translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="12.5" floatLabel="always">
                        <mat-label>{{'aeroporti_add.longitudine'|translate}}</mat-label>
                        <input matInput
                               formControlName="gradiLongInput"
                               autocomplete="off" 
                               type="number"
                               pattern="[0-9]{1,3}"
                               min="0"
                               max="359"
                               step="1"
                               [placeholder]="'aeroporti_add.gradi'|translate">
                    </mat-form-field>

                    <mat-form-field fxFlex="12.5">
                        <input matInput
                               formControlName="minutiLongInput"
                               autocomplete="off" 
                               type="number"
                               pattern="[0-9]{1,2}"
                               min="0"
                               max="59"
                               step="1"
                               [placeholder]="'aeroporti_add.minuti'|translate">
                    </mat-form-field>

                    <mat-form-field fxFlex="12.5">
                        <input matInput
                               formControlName="secondiLongInput"
                               autocomplete="off" 
                               type="number"
                               pattern="[0-9]{1,2}|[0-9]{1,2}.[0-9]{1,4}"
                               min="0"
                               max="59.9999"
                               [placeholder]="'aeroporti_add.secondi'|translate">
                    </mat-form-field>

                    <mat-form-field fxFlex="12.5">
                        <mat-select formControlName="estOvestSelect">
                            <mat-option value="E">{{'aeroporti_add.est'|translate}}</mat-option>
                            <mat-option value="W">{{'aeroporti_add.ovest'|translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="20">
                        <mat-label>{{'aeroporti_add.tipo'|translate}}</mat-label>
                        <mat-select formControlName="tipoAeroportoSelect">
                            <mat-option *ngFor="let tipo of listaTipiAeroporti"[value]="tipo">
                                {{tipo.descrizione}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="15">
                        <mat-label>{{'aeroporti_add.lunghezza_pista'|translate}}</mat-label>
                        <input matInput
                               formControlName="lunghezzaPistaInput"
                               autocomplete="off" 
                               type="number"
                               pattern="\d*"
                               min=0
                               max="59"
                               step="1">
                    </mat-form-field>

                    <mat-form-field fxFlex="10">
                        <mat-label>{{'aeroporti_add.tipo_pista'|translate}}</mat-label>
                        <mat-select formControlName="tipoPistaSelect">
                            <mat-option value="false">{{'aeroporti_add.erba'|translate}}</mat-option>
                            <mat-option value="true">{{'aeroporti_add.asfalto'|translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="55">
                        <mat-label>{{'aeroporti_add.indirizzo'|translate}}</mat-label>
                        <input matInput
                               formControlName="indirizzoInput"
                               autocomplete="off" 
                               type="text"
                               maxlength="100">
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <mat-label>{{'aeroporti_add.telefono'|translate}}</mat-label>
                        <input matInput
                               formControlName="telefonoInput"
                               autocomplete="off" 
                               type="tel"
                               maxlength="50">
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <mat-label>{{'aeroporti_add.email'|translate}}</mat-label>
                        <input matInput
                               formControlName="emailInput"
                               autocomplete="off" 
                               type="email"
                               maxlength="50">
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <mat-label>{{'aeroporti_add.sito_web'|translate}}</mat-label>
                        <input matInput
                               formControlName="webInput"
                               autocomplete="off" 
                               type="url"
                               maxlength="50">
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <mat-label>{{'aeroporti_add.note'|translate}}</mat-label>
                        <textarea matInput formControlName="noteInput" rows="2" maxlength="4000"></textarea>
                        <mat-hint>
                            {{4000 - addAeroportoForm.get('noteInput').value.toString().length + ' ' + ('aeroporti_add.caratteri_rimanenti'|translate)}}
                        </mat-hint>
                        <mat-error>{{'aeroporti_add.errore_descrizione_troppo_lunga'|translate}}</mat-error>
                    </mat-form-field>

                </form>
            </div>
        </mat-card-content>

        <mat-card-actions *ngIf="!loading">
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-raised-button (click)="tornaPaginaAeroporti()">{{'aeroporti_add.annulla'|translate}}</button>
                <button mat-raised-button color="primary" [disabled]="addAeroportoForm.invalid || submitted" (click)="submitForm()">
                    <span *ngIf="!submitting">{{'aeroporti_add.inserisci_aeroporto'|translate}}</span>
                    <span *ngIf="submitting" fxLayout="row" fxLayoutAlign="center center" style="width:82px">
                        <mat-spinner [diameter]="36" color="accent"></mat-spinner>
                    </span>
                </button>
            </div>
        </mat-card-actions>

    </mat-card>
</div>
