.spacer {
  width: 30px;
  display: inline-block;
}

.image-flag-fab {
  width: 25px;
  vertical-align: middle;
}

.image-flag-button {
  width: 30px;
  vertical-align: middle;
  margin-right: 16px;
}
