  <button mat-mini-fab
          color="primary"
          [matMenuTriggerFor]="menuLingua"
          [matTooltip]="('toolbar.lingua_corrente'|translate) + ': ' + nomeLingua">
    <img [src]="'../assets/flags/' + lingua + '.png'" class="image-flag-fab">
  </button>

  <span class="spacer"></span>

  <button *ngIf="!loading && notifiche > 0"
           mat-mini-fab
           color="warn"
           [matBadge]="notifiche"
           matBadgeColor="warn"
           [matMenuTriggerFor]="menuNotifiche"
           [matTooltip]="'toolbar.prossime_scadenze'|translate">
    <mat-icon>notifications_active</mat-icon>
  </button>

  <button *ngIf="!loading && notifiche == 0"
          mat-mini-fab
          color="primary"
          style="cursor:default"
          [disableRipple]="true"
          [@.disabled]="true"
          [matTooltip]="'toolbar.nessuna_prossima_scadenza'|translate">
  <mat-icon>notifications</mat-icon>
  </button>

  <button *ngIf="loading" mat-mini-fab disabled>
    <mat-spinner [diameter]="16" [strokeWidth]="1"></mat-spinner>
  </button>

  <span class="spacer"></span>

  <button mat-mini-fab color="primary" [matTooltip]="this.nomeCognomeUtente" [matMenuTriggerFor]="menuUtente">
    <mat-icon>account_circle</mat-icon>
  </button>

<mat-menu #menuLingua="matMenu">
  <button mat-menu-item *ngFor="let lingua of linguaggi" (click)="usaLingua(lingua.codice)">
    <img [src]="'../assets/flags/' + lingua.codice + '.png'" class="image-flag-button">{{lingua.nome}}
  </button>
</mat-menu>

<mat-menu #menuUtente="matMenu">
  <button mat-menu-item>
    <mat-icon>manage_accounts</mat-icon>{{'toolbar.profilo'|translate}}
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>{{'toolbar.logout'|translate}}
  </button>
</mat-menu>

<mat-menu #menuNotifiche="matMenu">
  <button mat-menu-item *ngFor="let scadenza of scadenzePersonaFlat" [ngClass]="{'scaduta': scadenza.scaduta}"> 
    <mat-icon [ngClass]="{'scaduta': scadenza.scaduta}">perm_contact_calendar</mat-icon>
    <span>
      {{scadenza.tipo + 
        (scadenza.data ? ' - ' + (scadenza.data|date:'dd/MM/y') : '') + 
        (scadenza.minuti ? ' - ' + (scadenza.minuti|min2hhmm) + ' ' + ('toolbar.ore'|translate) : '')}}
    </span>
  </button>
  <mat-divider *ngIf="scadenzePersonaFlat && scadenzeAereiFlat && scadenzePersonaFlat.length > 0 && scadenzeAereiFlat.length > 0"></mat-divider>
  <button mat-menu-item *ngFor="let scadenza of scadenzeAereiFlat" [ngClass]="{'scaduta': scadenza.scaduta}">
    <mat-icon [ngClass]="{'scaduta': scadenza.scaduta}">airplane_ticket</mat-icon>
    <span [matTooltip]="scadenza.modello">
      {{scadenza.marche + ' - ' + scadenza.tipo + 
      (scadenza.data ? ' - ' + (scadenza.data|date:'dd/MM/y') :'') + 
      (scadenza.minutiScadenza ? ' - ' + ((scadenza.minutiScadenza / 60)|number:'.0-2') + ' ' + ('toolbar.ore'|translate) : '')}}
    </span>
  </button>
</mat-menu>
