.map-frame {
    width: 800px;
    height: 500px;
  }
  
  #mappa {
    height: 100%;
  }

  .dati-container {
    width: 800px;
    height: 500px;
    padding-top: 10px;
  }
  
  ::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
  }

  textarea {
    resize: none !important;
  }

  .static-text {

    :disabled {
      color: black;
    }

    ::ng-deep .mat-form-field-underline {
      display: none;
    }
  }