<h2 mat-dialog-title>{{aeroporto.nome}}</h2>
<mat-dialog-content>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Dati">
            <div style="width:600px; height: 400px;">prima riga</div>
        </mat-tab>
        <mat-tab label="Mappa">
           <div style="width:600px; height: 400px;">mappa</div>
        </mat-tab>
    </mat-tab-group>


</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>Chiudi</button>
</mat-dialog-actions>
