.component-container {
  height: calc(100vh - 64px);
}
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin-top: 20px;
  width: 80%;
}

form {
  width: 100%;
}

textarea {
  resize: none !important;
}

mat-hint.mat-mdc-form-field-error {
  color: red;
}