<div class="component-container" fxLayoutAlign="space-around start">
    <mat-card appearance="outlined">

        <mat-card-header>
            <mat-card-title>{{'voli_add.inserisci_nuovo_volo'|translate}}</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
                <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
            </div>
            <div *ngIf="!loading">
                <form [formGroup]="addVoloForm"
                      ng-submit="addVoloForm.$valid"
                      (ngSubmit)="submitForm()"
                      novalidate
                      fxLayout="row wrap"
                      fxFlexFill
                      fxLayoutGap="20px grid">

                    <mat-form-field fxFlex="33">
                        <mat-label>{{'voli_add.aereo'|translate}}</mat-label>
                        <mat-select formControlName="aereoSelect"
                            (selectionChange)="cambiaAereo()">
                            <mat-option *ngFor="let aereo of listaAerei" [value]="aereo">
                                {{aereo.marche + ' - ' + aereo.modello}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{'voli_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <mat-label>{{'voli_add.pilota'|translate}}</mat-label>
                        <mat-select formControlName="pilotaSelect">
                            <mat-option *ngFor="let pilota of listaPiloti" [value]="pilota">
                                {{pilota.nome + ' ' + pilota.cognome}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{'voli_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>
        
                    <mat-form-field fxFlex="34">
                        <mat-label>{{'voli_add.passeggero'|translate}}</mat-label>
                        <mat-select formControlName="passeggeroSelect"
                            (selectionChange)="cambiaPasseggero()">
                            <mat-option [value]=null>
                                <i>{{'voli_add.nessuno'|translate}}</i>
                            </mat-option>
                            <mat-option *ngFor="let passeggero of listaPasseggeri" [value]="passeggero">
                                {{passeggero.nome + ' ' + passeggero.cognome}}
                            </mat-option>
                        </mat-select>
                        <mat-hint class="mat-error" *ngIf="addVoloForm.hasError('passeggero')">
                            {{'voli_add.errore_passeggero'|translate}}
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.orametro_ore_decollo'|translate}}</mat-label>
                        <input matInput
                               formControlName="oreDecolloInput"
                               autocomplete="off" 
                               type="number" 
                               step="1"
                               pattern="\d*"
                               (change)="aggiornaDurata()">
                        <mat-error>{{'voli_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>
        
                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.orametro_minuti_decollo'|translate}}</mat-label>
                        <input matInput
                               formControlName="minutiDecolloInput"
                               autocomplete="off" 
                               type="number" 
                               step="1"
                               pattern="\d*"
                               (change)="aggiornaDurata()">
                        <mat-error>{{'voli_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.orametro_ore_atterraggio'|translate}}</mat-label>
                        <input matInput
                               formControlName="oreAtterraggioInput"
                               type="number" 
                               step="1"
                               pattern="\d*"
                               (change)="aggiornaDurata()"
                               autocomplete="off"
                               [matAutocomplete]="oreAtterraggioAC">
                        <mat-error>{{'voli_add.errore_campo_obbligatorio'|translate}}</mat-error>
                        <mat-hint class="mat-error"
                                  *ngIf="addVoloForm.hasError('orametro') && addVoloForm.get('oreAtterraggioInput').dirty">
                            {{'voli_add.errore_orametro'|translate}}
                        </mat-hint>
                        <mat-autocomplete #oreAtterraggioAC="matAutocomplete" (optionSelected)="aggiornaDurata()">
                            <mat-option *ngFor="let ora of rangeOreAtterraggio" [value]="ora">
                                {{ora}}
                              </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
        
                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.orametro_minuti_atterraggio'|translate}}</mat-label>
                        <input matInput
                               formControlName="minutiAtterraggioInput"
                               autocomplete="off"
                               type="number" 
                               step="1"
                               pattern="\d*"
                               (change)="aggiornaDurata()"
                               [matAutocomplete]="minutiAtterraggioAC">
                        <mat-error>{{'voli_add.errore_campo_obbligatorio'|translate}}</mat-error>
                        <mat-hint class="mat-error" 
                                  *ngIf="addVoloForm.hasError('orametro') && addVoloForm.get('minutiAtterraggioInput').dirty">
                            {{'voli_add.errore_orametro'|translate}}
                        </mat-hint>
                        <mat-autocomplete #minutiAtterraggioAC="matAutocomplete" (optionSelected)="aggiornaDurata()">
                            <mat-option *ngFor="let minuto of rangeMinutiAtterraggio" [value]="minuto">
                                {{minuto}}
                              </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.data_ora_atterraggio'|translate}}</mat-label>
                        <input matInput
                               formControlName="dataOraAtterraggioInput"
                               autocomplete="off"
                               type="datetime-local"
                               (change)="aggiornaDurata()">
                        <mat-error>{{'voli_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>

                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center">&nbsp;
                        <div fxLayoutGap="20px"
                            *ngIf="oraLocaleDecollo &&
                                   durataVolo > 0 &&
                                   !addVoloForm.get('oreDecolloInput').errors &&
                                   !addVoloForm.get('minutiDecolloInput').errors &&
                                   !addVoloForm.get('oreAtterraggioInput').errors &&
                                   !addVoloForm.get('minutiAtterraggioInput').errors &&
                                   !addVoloForm.get('dataOraAtterraggioInput').errors">
                            <span>{{'voli_add.ora_decollo'|translate}}: <b>{{oraLocaleDecollo}}</b></span>
                            <span>{{'voli_add.durata'|translate}}: <b>{{durataVolo}}</b> {{'voli_add.minuti'|translate}}</span>
                        </div>
                    </div>

                    <mat-form-field fxFlex="34">
                        <mat-label>{{'voli_add.tipo_volo'|translate}}</mat-label>
                        <mat-select formControlName="tipoVoloSelect">
                            <mat-option *ngFor="let tipo of listaTipiVoli"[value]="tipo">
                                {{tipo.descrizione}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{'voli_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <mat-label>{{'voli_add.decollo_da'|translate}}</mat-label>
                        <mat-select formControlName="aeroportoDecolloSelect">
                            <mat-option *ngFor="let aeroporto of listaAeroporti" [value]="aeroporto">
                                {{aeroporto.nome + (aeroporto.identificativo? ' - ' + aeroporto.identificativo: '')}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{'voli_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <mat-label>{{'voli_add.atterraggio_a'|translate}}</mat-label>
                        <mat-select formControlName="aeroportoAtterraggioSelect">
                            <mat-option *ngFor="let aeroporto of listaAeroporti" [value]="aeroporto">
                                {{aeroporto.nome + (aeroporto.identificativo? ' - ' + aeroporto.identificativo: '')}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{'voli_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <mat-label>{{'voli_add.descrizione_del_volo'|translate}}</mat-label>
                        <textarea matInput formControlName="descrizioneInput" rows="2" maxlength="4000"></textarea>
                        <mat-hint>{{4000 - addVoloForm.get('descrizioneInput').value.toString().length + ' ' + ('voli_add.caratteri_rimanenti'|translate)}}</mat-hint>
                        <mat-error>{{'voli_add.errore_descrizione_troppo_lunga'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.carburante_iniziale_sx'|translate}}</mat-label>
                        <input matInput
                               formControlName="carburanteInizialeSXInput"
                               autocomplete="off" 
                               type="number" 
                               step="1"
                               pattern="\d*">
                    </mat-form-field>
        
                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.carburante_iniziale_dx'|translate}}</mat-label>
                        <input matInput
                               formControlName="carburanteInizialeDXInput"
                               autocomplete="off" 
                               type="number" 
                               step="1"
                               pattern="\d*">
                    </mat-form-field>
        
                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.carburante_aggiunto_sx'|translate}}</mat-label>
                        <input matInput
                               formControlName="carburanteAggiuntoSXInput"
                               autocomplete="off" 
                               type="number" 
                               step="1"
                               pattern="\d*">
                    </mat-form-field>
        
                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.carburante_aggiunto_dx'|translate}}</mat-label>
                        <input matInput
                               formControlName="carburanteAggiuntoDXInput"
                               autocomplete="off" 
                               type="number" 
                               step="1"
                               pattern="\d*">
                    </mat-form-field>
        
                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.olio_aggiunto'|translate}}</mat-label>
                        <input matInput
                               formControlName="olioInput"
                               autocomplete="off" 
                               type="number" 
                               step="1"
                               pattern="\d*">
                    </mat-form-field>

                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.peso_occupanti'|translate}}</mat-label>
                        <input matInput
                               formControlName="pesoOccupantiInput"
                               autocomplete="off" 
                               type="number" 
                               step="1"
                               pattern="\d*">
                    </mat-form-field>

                    <mat-form-field fxFlex="20">
                        <mat-label>{{'voli_add.peso_bagaglio'|translate}}</mat-label>
                        <input matInput
                               formControlName="bagaglioInput"
                               autocomplete="off" 
                               type="number" 
                               step="1"
                               pattern="\d*">
                    </mat-form-field>

                    <div fxFlex="60" fxLayout="row" fxLayoutAlign="start center" *ngIf="aereoSelezionato">
                        <div fxLayoutGap="20px">
                            <span>{{'voli_add.peso_a_vuoto'|translate}}: <b>{{aereoSelezionato.pesoVuoto}}</b></span>
                            <span>{{'voli_add.peso_carburante'|translate}}: <b>{{pesoCarburanteSX + pesoCarburanteDX}}</b></span>
                            <span>{{'voli_add.peso_totale'|translate}}: <b>{{aereoSelezionato.pesoVuoto + pesoOccupanti + pesoBagaglio +  pesoCarburanteSX + pesoCarburanteDX}}</b></span>
                        </div>
                    </div>

                </form>
            </div>
        </mat-card-content>

        <mat-card-actions *ngIf="!loading">
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-raised-button (click)="tornaPaginaVoli()">{{'voli_add.annulla'|translate}}</button>
                <button mat-raised-button color="primary" [disabled]="addVoloForm.invalid || submitted" (click)="submitForm()">
                    <span *ngIf="!submitting">{{'voli_add.inserisci_volo'|translate}}</span>
                    <span *ngIf="submitting" fxLayout="row" fxLayoutAlign="center center" style="width:82px">
                        <mat-spinner [diameter]="36" color="accent"></mat-spinner>
                    </span>
                </button>
            </div>
        </mat-card-actions>

    </mat-card>
</div>
