.grid-container {
  margin:20px;
  height: calc(100vh - 64px);
}

mat-card { 
  display: flex !important;
  flex-direction: column !important;
  overflow: visible !important;
 div {
   width: 100% !important;
   height: 300px !important;
  }
}
