<div class="grid-container" >
  <div fxLayout="row wrap" fxLayoutAlign="stretch" fxFlexFill fxLayoutGap="10px grid">
    <div fxFlex="50%">
      <mat-card appearance="outlined">
        <mat-card-header *ngIf="!loading1">
          <mat-card-title>{{'dashboard.ore_di_volo_per_pilota'|translate}}</mat-card-title>
          <mat-card-subtitle>
            ({{('dashboard.primi'|translate) + ' ' + massimiPiloti + ' ' + ('dashboard.piloti'|translate).toLowerCase()}})
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="!loading1">
            <ngx-charts-gauge 
              [results] = "valoriOrePerPilota"
              [view]="null"
              [legend] = true
              [legendTitle]="'dashboard.piloti'|translate"
              [units]="'dashboard.ore_totali'|translate"
              [max]="valoreMassimo1"
              [valueFormatting]="formattaValore">
            </ngx-charts-gauge>
          </div>
          <div *ngIf="loading1" fxLayoutAlign="space-around center">
            <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>    
    </div>

    <div fxFlex="50%">
      <mat-card appearance="outlined">
        <mat-card-header *ngIf="!loading2">
          <mat-card-title>{{'dashboard.ore_di_volo_per_aereo'|translate}}</mat-card-title>
          <mat-card-subtitle>
            ({{('dashboard.primi'|translate) + ' ' + massimiAerei + ' ' + ('dashboard.piloti'|translate).toLowerCase()}})
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="!loading2" class="card-content">
            <ngx-charts-gauge 
            [results] = "valoriOrePerAereo"
            [legend] = true
            [legendTitle]="'dashboard.aerei'|translate"
            [units]="'dashboard.ore_totali'|translate"
            [max]="valoreMassimo2"
            [valueFormatting]="formattaValore"> 
          </ngx-charts-gauge>
          </div>
          <div *ngIf="loading2" fxLayoutAlign="space-around center">
            <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>    
    </div>

    <div fxFlex="100%">
      <mat-card appearance="outlined">
        <mat-card-header *ngIf="!loading3">
          <mat-card-title>{{'dashboard.carburante_consumato_per_aereo'|translate}}</mat-card-title>
          <mat-card-subtitle>
            ({{'dashboard.ultimi_sei_mesi'|translate}})
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="!loading3" class="card-content">
            <ngx-charts-bar-vertical-stacked 
            [results] = "valoriConsumiCarburante"
            [legend] = true
            [xAxis]= true
            [yAxis]= true
            [showXAxisLabel] = true
            [showYAxisLabel] = true
            [xAxisLabel] = "'dashboard.aerei'|translate"
            [yAxisLabel] = "'dashboard.litri'|translate"
            [legendTitle] = "'dashboard.mesi'|translate"> 
          </ngx-charts-bar-vertical-stacked>
          </div>
          <div *ngIf="loading3" fxLayoutAlign="space-around center">
            <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>    
    </div>
  </div>

 </div>