<div class="component-container" fxLayoutAlign="space-around start">
    <mat-card>

        <mat-card-header>
            <mat-card-title>{{'manutenzioni_add.inserisci_nuova_manutenzione'|translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
                <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
            </div>
            <div *ngIf="!loading">
                <form [formGroup]="addManutenzioneForm"
                      ng-submit="addManutenzioneForm.$valid"
                      (ngSubmit)="submitForm()"
                      novalidate
                      fxLayout="row wrap"
                      fxFlexFill
                      fxLayoutGap="20px grid">

                    <mat-form-field fxFlex="25">
                        <mat-label>{{'manutenzioni_add.aereo'|translate}}</mat-label>
                        <mat-select formControlName="aereoSelect" (selectionChange)="filtraListaVoli()">
                            <mat-option *ngFor="let aereo of listaAerei" [value]="aereo">
                            {{aereo.marche + ' - ' + aereo.modello}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{'manutenzioni_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <mat-label>{{'manutenzioni_add.tipo'|translate}}</mat-label>
                        <mat-select formControlName="tipoManutenzioneSelect">
                            <mat-option *ngFor="let manutenzione of listaTipiManutenzioni" [value]="manutenzione">
                                {{manutenzione.descrizione}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{'manutenzioni_add.errore_campo_obbligatorio'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-radio-group fxFlex="25" formControlName="manutenzioneOrdinariaRadio" color="primary" class="verticale">
                        <mat-radio-button [value]="true" class="not-last">{{'manutenzioni_add.ordinaria'|translate}}</mat-radio-button>
                        <mat-radio-button [value]="false">{{'manutenzioni_add.straordinaria'|translate}}</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field fxFlex="25">
                        <mat-label>{{'manutenzioni_add.data_manutenzione'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dataManutenzioneInput">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <mat-label>{{'manutenzioni_add.effettuata_da'|translate}}</mat-label>
                        <mat-select formControlName="personaSelect">
                            <mat-option *ngFor="let persona of listaPersone" [value]="persona">
                            {{persona.nome + ' ' + persona.cognome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <mat-label>{{'manutenzioni_add.volo'|translate}}</mat-label>
                        <mat-select formControlName="voloSelect">
                            <mat-option *ngFor="let volo of listaVoliFiltrata" [value]="volo">
                            {{volo.id + ' - ' + (volo.oraInizio|date:'dd/MM/y')}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <mat-label>{{'manutenzioni_add.descrizione'|translate}}</mat-label>
                        <textarea matInput formControlName="descrizioneInput" rows="2" maxlength="4000"></textarea>
                        <mat-hint>
                            {{4000 - addManutenzioneForm.get('descrizioneInput').value.toString().length + 
                              ' ' + ('manutenzioni_add.caratteri_rimanenti'|translate)}}
                        </mat-hint>
                        <mat-error>{{'manutenzioni_add.errore_descrizione_troppo_lunga'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-radio-group class="orizzontale" color="primary" formControlName="presenzaScadenza" fxFlex="100">
                        <label>{{'manutenzioni_add.inserimento_scadenza'|translate}}</label>
                        <mat-radio-button [value]="true" class="not-last">{{'manutenzioni_add.si'|translate}}</mat-radio-button>
                        <mat-radio-button [value]="false">{{'manutenzioni_add.no'|translate}}</mat-radio-button>
                    </mat-radio-group>

                    <div *ngIf="addManutenzioneForm.value.presenzaScadenza" fxFlex="100">
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-checkbox color="primary"
                                              fxFlex="20"
                                              formControlName="espressaInOreVolo"
                                              (change)="switchEspressaInOreVolo()">
                                    {{'manutenzioni_add.espressa_in_ore_di_volo'|translate}}
                                </mat-checkbox>
                                <div fxLayout="column" fxFlex="80">
                                    <mat-radio-group #rGroup1 formControlName="oreAssoluteRadio" (change)="switchOreAssoluteRadio()">
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        
                                        <mat-radio-button value="assolute"
                                                          color="primary"
                                                          fxFlex="30"
                                                          radioGroup="rGroup1">
                                                          {{'manutenzioni_add.ore_complessive'|translate}}:
                                        </mat-radio-button>

                                        <mat-form-field fxFlex="70">         
                                            <mat-label>{{'manutenzioni_add.ore_di_volo_complessive'|translate}}</mat-label>
                                            <input matInput
                                                   formControlName="oreAssoluteInput"
                                                   autocomplete="off" 
                                                   type="number" 
                                                   step="1"
                                                   pattern="\d*">
                                        </mat-form-field>

                                    </div>
                                   
                                    <div fxLayout="row" fxLayoutAlign="start center">

                                        <mat-radio-button value="delta"
                                                          color="primary"
                                                          fxFlex="30"
                                                          radioGroup="rGroup1">
                                                          {{'manutenzioni_add.differenza_da_ore_attuali'|translate}}:
                                        </mat-radio-button>

                                        <mat-form-field fxFlex="70">         
                                            <mat-label>{{'manutenzioni_add.differenza_in_ore'|translate}}</mat-label>
                                            <input matInput
                                                   formControlName="oreDeltaInput"
                                                   autocomplete="off" 
                                                   type="number" 
                                                   step="1"
                                                   pattern="\d*">
                                        </mat-form-field>

                                    </div>
                                </mat-radio-group>
                                </div>
                            </div>
                            <p><mat-divider [inset]="true"></mat-divider></p>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-checkbox color="primary" 
                                              fxFlex="20"
                                              formControlName="espressaInData"
                                              (change)="switchEspressaInData()">
                                    {{'manutenzioni_add.espressa_come_data'|translate}}
                                </mat-checkbox>
                                <div fxLayout="column" fxFlex="80">
                                    <mat-radio-group #rGroup2 formControlName="dataAssolutaRadio" (change)="switchDataAssolutaRadio()">
                                    <div fxLayout="row" fxLayoutAlign="start center">                       
                                        <mat-radio-button value="assolute" 
                                                          color="primary"
                                                          fxFlex="30"
                                                          radioGroup="rGroup2">{{'manutenzioni_add.scadra_in_data'|translate}}:</mat-radio-button>

                                        <mat-form-field fxFlex="70">         
                                            <mat-label>{{'manutenzioni_add.data_della_nuova_scadenza'|translate}}</mat-label>
                                            <input matInput
                                                   formControlName="dataAssolutaInput"
                                                   autocomplete="off" 
                                                   type="number" 
                                                   step="1"
                                                   pattern="\d*">
                                        </mat-form-field>



                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <mat-radio-button value="delta" 
                                                          color="primary"
                                                          fxFlex="30"
                                                          radioGroup="rGroup2">
                                            {{'manutenzioni_add.dopo_un_periodo_di'|translate}}:
                                        </mat-radio-button>

                                                          
                                        <mat-form-field fxFlex="70">         
                                            <mat-label>{{'manutenzioni_add.differenza_in_giorni'|translate}}</mat-label>
                                            <input matInput
                                                    formControlName="giorniDeltaInput"
                                                    autocomplete="off" 
                                                    type="number" 
                                                    step="1"
                                                    pattern="\d*">
                                    </mat-form-field>
                                    </div>
                                </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </mat-card-content>

        <mat-card-actions *ngIf="!loading">
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-raised-button (click)="tornaPaginaManutenzioni()">{{'manutenzioni_add.annulla'|translate}}</button>
                <button mat-raised-button color="primary" [disabled]="addManutenzioneForm.invalid || submitted" (click)="submitForm()">
                    <span *ngIf="!submitting">{{'manutenzioni_add.inserisci_manutenzione'|translate}}</span>
                    <span *ngIf="submitting" fxLayout="row" fxLayoutAlign="center center" style="width:82px">
                        <mat-spinner [diameter]="36" color="accent"></mat-spinner>
                    </span>
                </button>
            </div>
        </mat-card-actions>

    </mat-card>
</div>
