<div *ngIf="loading" fxLayout="row" fxLayoutAlign="space-around center" style="height:90vh">
    <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
</div>

<mat-card *ngIf="!loading">
    <mat-card-content>

        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field appearance="standard">
                <mat-select [(value)]="personaSelezionata" (selectionChange)="aggiornaTabelle()">
                    <mat-option value="-1"><i>{{'scadenze.tutti'|translate}}</i></mat-option>
                    <mat-option *ngFor="let persona of listaPersone" [value]="persona.id">
                        {{persona.nome + ' ' + persona.cognome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <h2>{{'scadenze.scadenze'|translate}}</h2>
            <span class="spacer"></span>
        </div>

        <mat-tab-group mat-stretch-tabs>

            <mat-tab [label]="'scadenze.scadenze_personali'|translate">

                <table mat-table [dataSource]="datasourcePersone" #sortPersone="matSort" matSort class="mat-elevation-z8">

                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.persona'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza">{{scadenza.nomePersona + ' ' + scadenza.cognomePersona}}</td>
                    </ng-container>

                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.tipo_scadenza'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza">{{scadenza.scadenza.tipo}}</td>
                    </ng-container>

                    <ng-container matColumnDef="data">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.data'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza">{{scadenza.scadenza.data?(scadenza.scadenza.data|date:'dd/MM/y'):''}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ore">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.ore_di_volo'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza">{{scadenza.scadenza.minuti?(scadenza.scadenza.minuti|min2hhmm):''}}</td>
                    </ng-container>

                    <ng-container matColumnDef="range">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.scadra_in'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza" [ngClass]="{'scaduta': calcolo_range(scadenza).indexOf('-')!= -1}">
                            {{calcolo_range(scadenza)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="dettagli" >
                        <th mat-header-cell *matHeaderCellDef>
                          <div fxLayoutAlign="end center">
                            <button mat-icon-button color="primary" [routerLink]="'/scadenze-add'" [matTooltip]="'scadenze.nuova_scadenza'|translate">
                              <mat-icon>add_circle_outline</mat-icon>
                            </button>
                          </div>
                        </th>
                        <td mat-cell *matCellDef="let scadenza" >
                          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" >
                            <button mat-icon-button style="color:green" [matTooltip]="'scadenze.segna_risolta'|translate"><mat-icon>check_circle</mat-icon></button>
                            <button mat-icon-button color="primary" (click)="apriDettagliPersona(scadenza)" [matTooltip]="'scadenze.dettagli'|translate"><mat-icon>info</mat-icon></button>
                            <button mat-icon-button color="accent" [matTooltip]="'scadenze.modifica'|translate"><mat-icon>edit</mat-icon></button>
                            <button mat-icon-button color="warn" [matTooltip]="'scadenze.cancella'|translate"><mat-icon>delete</mat-icon></button>
                          </div>
                        </td>
                    </ng-container>

                      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

                </table>
                <mat-paginator #paginatorPersone [length]="datasourcePersone.data.length" [pageSize]= "10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

            </mat-tab>

            <mat-tab [label]="'scadenze.scadenze_aerei'|translate">
                 <table mat-table [dataSource]="datasourceAerei" #sortAerei="matSort" matSort class="mat-elevation-z8">

                    <ng-container matColumnDef="marche">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.marche'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza">{{scadenza.marche}}</td>
                    </ng-container>

                    <ng-container matColumnDef="modello">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.modello'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza">{{scadenza.modello}}</td>
                    </ng-container>

                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.tipo_scadenza'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza">{{scadenza.scadenzeAereo.tipo}}</td>
                    </ng-container>

                    <ng-container matColumnDef="data">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.data'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza">{{scadenza.scadenzeAereo.data?(scadenza.scadenzeAereo.data|date:'dd/MM/y'):''}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ore">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.ore_di_volo'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza">{{scadenza.scadenzeAereo.minuti?(scadenza.scadenzeAereo.minuti|min2hhmm):''}}</td>
                    </ng-container>

                    <ng-container matColumnDef="range">
                        <th mat-header-cell *matHeaderCellDef>{{'scadenze.scadra_in'|translate}}</th>
                        <td mat-cell *matCellDef="let scadenza" [ngClass]="{'scaduta': calcolo_range_aerei(scadenza).indexOf('-')!= -1}">
                            {{calcolo_range_aerei(scadenza)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="dettagli" >
                        <th mat-header-cell *matHeaderCellDef>
                          <div fxLayoutAlign="end center">
                            <button mat-icon-button color="primary" [routerLink]="'/scadenze-add'" [matTooltip]="'scadenze.nuova_scadenza'|translate">
                              <mat-icon>add_circle_outline</mat-icon>
                            </button>
                          </div>
                        </th>
                        <td mat-cell *matCellDef="let scadenza" >
                          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" >
                            <button mat-icon-button style="color:green" [matTooltip]="'scadenze.segna_risolta'|translate"><mat-icon>check_circle</mat-icon></button>
                            <button mat-icon-button color="primary" [matTooltip]="'scadenze.dettagli'|translate"><mat-icon>info</mat-icon></button>
                            <button mat-icon-button color="accent" [matTooltip]="'scadenze.modifica'|translate"><mat-icon>edit</mat-icon></button>
                            <button mat-icon-button color="warn" [matTooltip]="'scadenze.cancella'|translate"><mat-icon>delete</mat-icon></button>
                          </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplayAerei"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplayAerei"></tr>

                </table>
                <mat-paginator #paginatorAerei [length]="datasourceAerei.data.length" [pageSize]= "10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

            </mat-tab>

        </mat-tab-group>

    </mat-card-content>
</mat-card>
